//colors plat
$white: #fff;
$green: #06f286;
$lightGreen: #4cddbd;
$black: #01231c;
$light_gray:#889693;

//font-size

$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 20px;
